.label-check-box-ingredient {
  margin: 0 0 0 5px;
}

.box-button-done {
  margin: auto;
  width: 90%;
}

.button-done-recipe {
  margin: auto;
  margin-bottom: 2em;
  margin-top: 16em;
  width: 45%;
  height: 40px;
  background: #FF6060;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.10);
  border-radius: 40px;
  border: none;
  color: white;
}

.button-done-recipe:disabled {
  background-color: #CCC;
  color: #262626;
}