.button-go-back {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
}

.button-go-back img {
  width: 12px;
}

.button-go-back p {
  margin: 0;
  font-size: 12px;
}