@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

body {
  background-color: #FF6060;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-class {
  display: flex;
  flex-flow: column;
}

.form-class input {
  border: 0px solid rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
}

.link-enable {
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
}

.real-button-enable {
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 1em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  width: 10em;
}

.button-enable {
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 1em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-top: 2em;
  width: 10em;
}

.title-login {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-bottom: 2em;
  text-align: center;
}

.title-login h1 {
  font-family: Oregano;
  font-size: 60px;
  color: white;
}

@media only screen and (max-width: 500px) {
  .title-login h1 {
    font-size: 40px;
  }

  .title-login img {
    width: 12em;
  }
}

@media only screen and (max-height: 500px) {
  .title-login h1 {
    font-size: 40px;
  }

  .title-login img {
    width: 12em;
  }
}