.content-made-card{
  width: 90%;
  height: 120px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.box-made-card img {
  height: 120px;
  width: 120px;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
  border-radius: 4px 0px 0px 4px;
}

.info-made-card {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.info-made-card p, .info-made-card span {
  margin: 0;
  color: #262626;
  font-size: 14px;
}

.info-made-card p:last-child {
  font-size: 12px;
  font-weight: bold;
}

.content-tags {
  display: flex;
  flex-direction: row;
}

.tag-box {
  margin: 0 5px 0 0;
  padding: 0 10px;
  background-color: #FF6060;
  border-radius: 20px;
}

.share-button {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 6%;
}