.container-recipes-made {
  background-color: #FFF4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
}

.filters-button-recipe-button {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.filters-button-recipe-button button {
  width: 85px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #FF6060;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.box-recipes-made {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

@media only screen and (min-width: 700px) {
  .box-recipes-made {
    width: 40%;
    margin: 4em 0;
  }

  .filters-button-recipe-button {
    width: 36%;
    display: flex;
    justify-content: space-between;
  }

  .section-title {
    align-self: flex-start;
    margin-left: 5%;
  }
}
