.container-recipe-button {
  width: 50%;
}

.container-recipe-button button {
  margin-bottom: 20px;
  width: 50%;
  height: 40px;
  background: #FF6060;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  color: white;
}