.container-explore-page {
  background-color: #FFF4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
}

.button-explore {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.button-explore button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FF6060;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  height: 80px;
  width: 90%;
  color: white;
}

@media only screen and (min-width: 500px) {
  .button-explore {
    width: 60% !important;
  }
}

@media only screen and (min-width: 900px) {
  .button-explore {
    width: 30% !important;
  }
}